# ignore all
*

# unignore with extension
!/**/
!*.*

# ignore compiled files
*.o
*.pyc

# ignore library dir
lib/

# unignore commonly used files without extensions
!Makefile
!postscript

# ignore temp files from editors
\#*\#
*~
.\#*
.sconsign.dblite
