{
  "runs" : [
    {       
      "name" : "serial",
      "src_files" : ["cylinder2d.cpp"],
      "makefile" : "Makefile",
      "make_opts" : "",
      "executable" : "cylinder2d",
      "exec_args" : [],
      "type" : "palabos/serial",
      "post_scripts" : ["postscript"],
      "probes" : [     
            { "name" : "velocity", "filename" : "velprobes.txt" },
            { "name" : "pressure", "filename" : "rhoprobes.txt" }
      ]
    }
  ]
}
